MSNPSharp/Web References/MSNWS.MSNABSharingService/msnab_datatypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:msnab="http://www.msn.com/webservices/AddressBook" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.msn.com/webservices/AddressBook" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="abInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element name="ownerPuid" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerCID" type="xsd:integer" />
      <xsd:element name="ownerEmail" type="xsd:string" />
      <xsd:element name="fDefault" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="joinedNamespace" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsBot" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsParentManaged" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="SubscribeExternalPartner" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="NotifyExternalPartner" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AddressBookType" type="xsd:string" />
      <xsd:element minOccurs="0" name="MessengerApplicationServiceCreated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsBetaMigrated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="MigratedTo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HandleType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:integer" />
      <xsd:element default="Messenger" name="Type" type="xsd:string" />
      <xsd:element name="ForeignId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Memberships">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Membership" type="msnab:Membership" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Info" type="msnab:InfoType" />
      <xsd:element name="Changes" type="xsd:string" />
      <xsd:element default="0001-01-01T00:00:00" name="LastChange" type="xsd:string" />
      <xsd:element default="false" name="Deleted" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Membership">
    <xsd:sequence>
      <xsd:element name="MemberRole" type="xsd:string" />
      <xsd:element name="Members">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Member" type="msnab:BaseMember" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MembershipIsComplete" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseMember">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MembershipId" type="xsd:positiveInteger" />
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element minOccurs="0" name="Location">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id" type="msnab:Guid" />
            <xsd:element name="IsPassportNameHidden" type="xsd:boolean" />
            <xsd:element name="CID" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
      <xsd:element name="State" type="msnab:MemberState" />
      <xsd:element minOccurs="0" name="Annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" default="false" name="Deleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastChanged" type="xsd:string" />
      <xsd:element minOccurs="0" name="JoinedDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="Changes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CircleMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="CircleId" type="msnab:Guid" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassportMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="PassportName" type="xsd:string" />
          <xsd:element minOccurs="0" name="IsPassportNameHidden" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="PassportId" type="xsd:int" />
          <xsd:element minOccurs="0" name="CID" type="xsd:long" />
          <xsd:element minOccurs="0" name="PassportChanges" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmailMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Email" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhoneMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="PhoneNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RoleMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element name="DefiningService">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Id" type="xsd:integer" />
                <xsd:element name="Type" type="xsd:string" />
                <xsd:element name="ForeignId" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="MaxRoleRecursionDepth" type="xsd:integer" />
          <xsd:element name="MaxDegreesSeparation" type="xsd:integer" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Service" type="msnab:HandleType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DomainMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="DomainName" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EveryoneMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartnerMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="AppId" type="xsd:long" />
          <xsd:element name="Scope" type="xsd:integer" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GroupMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="Id" type="msnab:Guid" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExternalIDMember">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseMember">
        <xsd:sequence>
          <xsd:element name="SourceID" type="xsd:string" />
          <xsd:element name="ObjectID" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Guid">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="MemberType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Allow" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:simpleType name="MemberState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Accepted" />
      <xsd:enumeration value="Pending" />
      <xsd:enumeration value="Removed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Annotation">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactId" type="msnab:Guid" />
      <xsd:element minOccurs="0" name="contactInfo" type="msnab:contactInfoType" />
      <xsd:element minOccurs="0" name="propertiesChanged" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            A space (ASCII #32) separated list of properties that
            have changed as part of an update request. The property
            names don't always match the name of the associated
            element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fDeleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="lastChange" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastModifiedBy" type="xsd:integer" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactIdType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contactId" type="msnab:Guid" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="emails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ContactEmail" type="msnab:contactEmailType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="phones">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ContactPhone" type="msnab:contactPhoneType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="locations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ContactLocation" type="msnab:contactLocationType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="webSites">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ContactWebSite" type="msnab:contactWebSiteType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="groupIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="groupIdsDeleted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="contactType" type="xsd:string" />
      <xsd:element minOccurs="0" name="quickName" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="MiddleName" type="xsd:string" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Suffix" type="xsd:string" />
      <xsd:element minOccurs="0" name="NameTitle" type="xsd:string" />
      <xsd:element minOccurs="0" name="passportName" type="xsd:string" />
      <xsd:element minOccurs="0" name="displayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="puid" type="xsd:long" />
      <xsd:element minOccurs="0" name="CID" type="xsd:long" />
      <xsd:element minOccurs="0" name="BrandIdList" type="xsd:anyType" />
      <xsd:element minOccurs="0" name="comment" type="xsd:string" />
      <xsd:element minOccurs="0" name="isMobileIMEnabled" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isMessengerUser" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isFavorite" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isSmtp" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="hasSpace" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>
            Indicates whether the contact has a Windows Live
            Space or not.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="spotWatchState" type="xsd:string" />
      <xsd:element minOccurs="0" name="birthdate" type="xsd:string" />
      <xsd:element minOccurs="0" name="primaryEmailType" type="msnab:ContactEmailTypeType" />
      <xsd:element minOccurs="0" name="PrimaryLocation" type="msnab:ContactLocationTypeType" />
      <xsd:element minOccurs="0" name="PrimaryPhone" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsPrivate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Anniversary" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            Seen is YYYY/MM/DD format.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="TimeZone" type="xsd:string" />
      <xsd:element minOccurs="0" name="TrustLevel" type="xsd:int" />
      <xsd:element minOccurs="0" name="NetworkInfoList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="NetworkInfo" type="msnab:NetworkInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PublicDisplayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsAutoUpdateDisabled" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsHidden" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsPassportNameHidden" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsNotMobileVisible" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsShellContact" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="MessengerMemberInfo" type="msnab:MessengerMemberInfo" />
      <xsd:element minOccurs="0" name="PropertiesChanged" type="xsd:anyType" />
      <xsd:element minOccurs="0" name="clientErrorData" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactEmailType">
    <xsd:sequence>
      <xsd:element name="contactEmailType" type="msnab:ContactEmailTypeType" />
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="isMessengerEnabled" type="xsd:boolean" />
      <xsd:element name="Capability" type="xsd:integer" />
      <xsd:element name="MessengerEnabledExternally" type="xsd:boolean" />
      <xsd:element name="propertiesChanged" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactEmailTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactEmailPersonal" />
      <xsd:enumeration value="ContactEmailBusiness" />
      <xsd:enumeration value="ContactEmailOther" />
      <xsd:enumeration value="ContactEmailMessenger" />
      <xsd:enumeration value="Messenger2" />
      <xsd:enumeration value="Messenger3" />
      <xsd:enumeration value="Messenger4" />
      <xsd:enumeration value="Passport" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="contactPhoneType">
    <xsd:sequence>
      <xsd:element name="contactPhoneType" type="xsd:string" />
      <xsd:element name="number" type="xsd:string" />
      <xsd:element name="isMessengerEnabled" type="xsd:boolean" />
      <xsd:element name="propertiesChanged" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactLocationType">
    <xsd:sequence>
      <xsd:element name="contactLocationType" type="msnab:ContactLocationTypeType" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element name="street" type="xsd:string" />
      <xsd:element name="city" type="xsd:string" />
      <xsd:element name="state" type="xsd:string" />
      <xsd:element name="country" type="xsd:string" />
      <xsd:element name="postalCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="Department" type="xsd:string" />
      <xsd:element name="Changes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactLocationTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactLocationPersonal" />
      <xsd:enumeration value="ContactLocationBusiness" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="contactWebSiteType">
    <xsd:sequence>
      <xsd:element name="contactWebSiteType" type="msnab:ContactWebSiteTypeType" />
      <xsd:element name="webURL" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ContactWebSiteTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ContactWebSitePersonal" />
      <xsd:enumeration value="ContactWebSiteBusiness" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GroupType">
    <xsd:sequence>
      <xsd:element name="groupId" type="msnab:Guid" />
      <xsd:element name="groupInfo" type="msnab:groupInfoType" />
      <xsd:element name="propertiesChanged" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            A space (ASCII #32) separated list of properties that
            have changed as part of an update request. The property
            names don't always match the name of the associated
            element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fDeleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="lastChange" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="annotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" default="C8529CE2-6EAD-434d-881F-341E17DB3FF8" name="groupType" type="msnab:Guid" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsNotMobileVisible" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsPrivate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsFavorite" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="fMessenger" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="groupFilterType">
    <xsd:sequence>
      <xsd:element name="groupIds">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="guid" type="msnab:Guid" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InvalidPassportUser">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="errorcode" type="xsd:string" />
        <xsd:element name="errorstring" type="xsd:string" />
        <xsd:element name="additionalDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="originalExceptionErrorMessage" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MessengerMemberInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PendingAnnotations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Annotation" type="msnab:Annotation" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfoType">
    <xsd:sequence>
      <xsd:element name="Handle" type="msnab:HandleType" />
      <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
      <xsd:element default="false" name="InverseRequired" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AuthorizationCriteria" type="xsd:string" />
      <xsd:element minOccurs="0" name="RSSUrl" type="xsd:anyURI" />
      <xsd:element default="false" name="IsBot" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificationDataType">
    <xsd:sequence>
      <xsd:element name="StoreService" type="msnab:ServiceType" />
      <xsd:element name="Status" type="xsd:string" />
      <xsd:element name="LastChanged" type="xsd:string" />
      <xsd:element default="false" name="Gleam" type="xsd:boolean" />
      <xsd:element default="0" name="InstanceId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BaseDynamicItemType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element minOccurs="0" name="Deleted" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastChanged" type="xsd:string" />
      <xsd:element minOccurs="0" name="Notifications">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="NotificationData" type="msnab:NotificationDataType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Changes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CircleDynamicItem">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseDynamicItemType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PassportDynamicItem" block="">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:BaseDynamicItemType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CID" type="xsd:string" />
          <xsd:element name="PassportName" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportId" type="xsd:string" />
          <xsd:element name="SpaceStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="SpaceLastChanged" type="xsd:string" />
          <xsd:element minOccurs="0" name="SpaceLastViewed" type="xsd:string" />
          <xsd:element minOccurs="0" name="SpaceGleam" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="ProfileLastChanged" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProfileLastView" type="xsd:string" />
          <xsd:element name="ProfileStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProfileGleam" type="xsd:boolean" />
          <xsd:element name="ContactProfileStatus" type="xsd:string" />
          <xsd:element minOccurs="0" name="ContactProfileLastChanged" type="xsd:string" />
          <xsd:element minOccurs="0" name="ContactProfileLastViewed" type="xsd:string" />
          <xsd:element minOccurs="0" name="LiveContactLastChanged" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="abType">
    <xsd:sequence>
      <xsd:element name="abId" type="msnab:Guid" />
      <xsd:element name="abInfo" type="msnab:abInfoType" />
      <xsd:element name="lastChange" type="xsd:string" />
      <xsd:element name="DynamicItemLastChanged" type="xsd:string" />
      <xsd:element name="RecentActivityItemLastChanged" type="xsd:string" />
      <xsd:element name="createDate" type="xsd:string" />
      <xsd:element name="propertiesChanged" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CircleResultType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Circles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="CircleInverseInfo" type="msnab:CircleInverseInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CircleTicket" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NetworkInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DomainId" type="xsd:int" />
      <xsd:element minOccurs="0" name="DomainTag" type="xsd:string" />
      <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserTileURL" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProfileURL" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipType" type="xsd:int" />
      <xsd:element minOccurs="0" name="RelationshipState" type="xsd:int" />
      <xsd:element minOccurs="0" name="RelationshipStateDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipRole" type="xsd:int" />
      <xsd:element minOccurs="0" name="NDRCount" type="xsd:int" />
      <xsd:element minOccurs="0" name="InviterName" type="xsd:string" />
      <xsd:element minOccurs="0" name="InviterMessage" type="xsd:string" />
      <xsd:element minOccurs="0" name="InviterCID" type="xsd:long" />
      <xsd:element minOccurs="0" name="InviterEmail" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastChanged" type="xsd:string" />
      <xsd:element minOccurs="0" name="PropertiesChanged" type="xsd:anyType" />
      <xsd:element minOccurs="0" name="SourceId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactFilterType">
    <xsd:sequence>
      <xsd:element name="IncludeHiddenContacts" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IncludeShellContacts" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="filterOptionsType">
    <xsd:sequence>
      <xsd:element name="DeltasOnly" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastChanged" type="xsd:string" />
      <xsd:element name="ContactFilter" type="msnab:ContactFilterType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="entityHandle">
    <xsd:sequence>
      <xsd:element name="Cid" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotationType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListTemplateVariableItemType">
    <xsd:sequence>
      <xsd:element name="Values">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Value" type="msnab:SimpleTemplateVariableBaseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TemplateVariableBaseType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimpleTemplateVariableBaseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:TemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PublisherIdTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:TemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" name="NameHint" type="xsd:string" />
          <xsd:element minOccurs="0" name="LastNameHint" type="xsd:string" />
          <xsd:element minOccurs="0" name="IsFavorite" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TargetIdTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:PublisherIdTemplateVariable">
        <xsd:sequence>
          <xsd:element name="IdOwner" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SafeLinkDetailsType">
    <xsd:sequence>
      <xsd:element name="Offset" type="xsd:integer" />
      <xsd:element name="Length" type="xsd:integer" />
      <xsd:element name="SafeUrl" type="xsd:anyURI" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TextTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:SimpleTemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="SafeLinks">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SafeLinkDetails" type="msnab:SafeLinkDetailsType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HlinkTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:SimpleTemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element name="Text" type="xsd:string" />
          <xsd:element name="Notations">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Notation" type="msnab:NotationType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ValueAsSafeLink" type="xsd:anyURI" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ListTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:TemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element name="Items">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="ListTemplateVariableItem" type="msnab:ListTemplateVariableItemType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageTemplateVariable">
    <xsd:complexContent mixed="false">
      <xsd:extension base="msnab:SimpleTemplateVariableBaseType">
        <xsd:sequence>
          <xsd:element name="Href" type="xsd:anyURI" />
          <xsd:element name="Notations">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Notation" type="msnab:NotationType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="HrefAsSafeLink" type="xsd:anyURI" />
          <xsd:element minOccurs="0" name="AltText" type="xsd:string" />
          <xsd:element minOccurs="0" name="TargetMediaType" type="xsd:string" />
          <xsd:element minOccurs="0" name="TargetMediaSource" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelevanceInfoType">
    <xsd:sequence>
      <xsd:element name="TimeWeightedScore" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivityDetailsType">
    <xsd:sequence>
      <xsd:element name="OwnerCID" type="xsd:string" />
      <xsd:element name="ObjectId" type="xsd:string" />
      <xsd:element name="ApplicationId" type="xsd:string" />
      <xsd:element name="ChangeType" type="xsd:string" />
      <xsd:element name="PublishDate" type="xsd:string" />
      <xsd:element name="TemplateVariables">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="TemplateVariable" type="msnab:TemplateVariableBaseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ActivityID" type="xsd:ID" />
      <xsd:element minOccurs="0" name="CanPublishComments" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="VisibilityHint" type="xsd:integer" />
      <xsd:element minOccurs="0" name="RelevanceInfo" type="msnab:RelevanceInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecentActivityTemplateType">
    <xsd:sequence>
      <xsd:element name="Cardinality" type="xsd:string" />
      <xsd:element name="Data" type="xsd:string" />
      <xsd:element name="Title" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestedLocalesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecentActivityTemplateContainerType">
    <xsd:sequence>
      <xsd:element name="ApplicationId" type="xsd:string" />
      <xsd:element name="ApplicationName" type="xsd:string" />
      <xsd:element name="ChangeType" type="xsd:integer" />
      <xsd:element name="Locale" type="xsd:string" />
      <xsd:element name="RequestedLocales" type="msnab:RequestedLocalesType" />
      <xsd:element name="TemplateRevision" type="xsd:integer" />
      <xsd:element name="Templates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="RecentActivityTemplate" type="msnab:RecentActivityTemplateType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CollapseCondition" type="msnab:CollapseConditionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollapseConditionType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CirclePersonalMembershipType">
    <xsd:sequence>
      <xsd:element name="Role" type="xsd:string" />
      <xsd:element name="State" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="abHandleType">
    <xsd:sequence>
      <xsd:element name="ABId" type="xsd:string" />
      <xsd:element name="Puid" type="xsd:long" />
      <xsd:element name="Cid" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactHandleType">
    <xsd:sequence>
      <xsd:element name="Email" type="xsd:string" />
      <xsd:element name="Puid" type="xsd:long" />
      <xsd:element name="Cid" type="xsd:long" />
      <xsd:element name="CircleId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MembershipInfoType">
    <xsd:sequence>
      <xsd:element name="CirclePersonalMembership" type="msnab:CirclePersonalMembershipType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonalInfoType">
    <xsd:sequence>
      <xsd:element name="MembershipInfo" type="msnab:MembershipInfoType" />
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="IsNotMobileVisible" type="xsd:boolean" />
      <xsd:element name="IsFavorite" type="xsd:boolean" />
      <xsd:element name="IsFamily" type="xsd:boolean" />
      <xsd:element name="Changes" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContentInfoType">
    <xsd:sequence>
      <xsd:element name="Domain" type="xsd:int" />
      <xsd:element name="HostedDomain" type="xsd:string" />
      <xsd:element name="Type" type="xsd:int" />
      <xsd:element name="MembershipAccess" type="xsd:int" />
      <xsd:element name="IsPresenceEnabled" type="xsd:boolean" />
      <xsd:element name="RequestMembershipOption" type="xsd:int" />
      <xsd:element name="DisplayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProfileLastUpdated" type="xsd:string" />
      <xsd:element minOccurs="0" name="Changes" type="xsd:anyType" />
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastChanged" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContentHandleType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContentType">
    <xsd:sequence>
      <xsd:element name="Handle" type="msnab:ContentHandleType" />
      <xsd:element name="Info" type="msnab:ContentInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CircleInverseInfoType">
    <xsd:sequence>
      <xsd:element name="Content" type="msnab:ContentType" />
      <xsd:element name="PersonalInfo" type="msnab:PersonalInfoType" />
      <xsd:element name="Deleted" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="callerInfoType">
    <xsd:sequence>
      <xsd:element name="PublicDisplayName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OwnerNamespaceType">
    <xsd:sequence>
      <xsd:element name="Info" type="msnab:OwnerNamespaceInfoType" />
      <xsd:element name="Changes" type="xsd:string" />
      <xsd:element name="CreateDate" type="xsd:string" />
      <xsd:element name="LastChange" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CircleAttributesType">
    <xsd:sequence>
      <xsd:element name="IsPresenceEnabled" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="IsEvent" type="xsd:boolean" />
      <xsd:element name="Domain" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OwnerNamespaceInfoType">
    <xsd:sequence>
      <xsd:element name="Handle">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" />
            <xsd:element name="IsPassportNameHidden" type="xsd:boolean" />
            <xsd:element name="CID" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreatorPuid" type="xsd:integer" />
      <xsd:element name="CreatorCID" type="xsd:integer" />
      <xsd:element name="CreatorPassportName" type="xsd:string" />
      <xsd:element name="CircleAttributes" type="msnab:CircleAttributesType" />
      <xsd:element minOccurs="0" name="MessengerApplicationServiceCreated" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="locale">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pageContextType">
    <xsd:sequence>
      <xsd:element name="PageSize" type="xsd:int" />
      <xsd:element name="Direction" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>